<section class="p-6 bg-gray-100">
  <div class="flex justify-between items-center mb-6">
    <button class="secondary bg-purple-600 hover:bg-purple-800 text-white font-bold py-2 px-6 rounded" type="button" [routerLink]="['']">Inicio</button>
    <h2 class="text-3xl font-bold text-gray-800">Listado de Casas</h2>
  </div>
  <div class="bg-white shadow-lg rounded-lg overflow-hidden max-w-5xl mx-auto">
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-4 px-6 bg-gray-50 border-b text-left text-sm uppercase font-medium text-gray-600">Nombre</th>
          <th class="py-4 px-6 bg-gray-50 border-b text-left text-sm uppercase font-medium text-gray-600">Ciudad</th>
          <th class="py-4 px-6 bg-gray-50 border-b text-left text-sm uppercase font-medium text-gray-600">Provincia</th>
          <th class="py-4 px-6 bg-gray-50 border-b text-left text-sm uppercase font-medium text-gray-600">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let casa of Lista" class="hover:bg-gray-100">
          <td class="py-4 px-6 border-b">{{ casa.nombre }}</td>
          <td class="py-4 px-6 border-b">{{ casa.ciudad }}</td>
          <td class="py-4 px-6 border-b">{{ casa.provincia }}</td>
          <td class="py-4 px-6 border-b">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" (click)="openModal(casa)">Editar</button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="eliminarCasa(casa.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- Modal -->
<div id="crud-modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-3xl p-8">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-2xl font-semibold text-gray-800">Editar Casa</h2>
      <button class="text-gray-500 hover:text-gray-700" (click)="closeModal()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <form [formGroup]="casaForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div class="grid grid-cols-2 gap-6">
        <div>
          <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
          <input type="text" id="nombre" formControlName="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese el nombre" required>
        </div>
        <div>
          <label for="ciudad" class="block text-sm font-medium text-gray-700">Ciudad</label>
          <input type="text" id="ciudad" formControlName="ciudad" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese la ciudad" required>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-6">
        <div>
          <label for="provincia" class="block text-sm font-medium text-gray-700">Provincia</label>
          <input type="text" id="provincia" formControlName="provincia" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese la provincia" required>
        </div>
        <div>
          <label for="unidades" class="block text-sm font-medium text-gray-700">Unidades</label>
          <input type="number" id="unidades" formControlName="unidades" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingrese el número de unidades" required>
        </div>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-medium mb-2" for="fotos">Fotos</label>
        <div formArrayName="foto">
          <div *ngFor="let foto of fotos.controls; let i = index" class="flex items-center mb-2">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                   type="text" 
                   [formControlName]="i" 
                   placeholder="Link de la imagen">
            <button type="button" class="ml-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-3 rounded" (click)="removeFoto(i)">
              Eliminar
            </button>
          </div>
          <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="addFoto()">Agregar otra foto</button>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-6">
        <div>
          <label class="block text-sm font-medium text-gray-700">WiFi</label>
          <div class="flex items-center mt-2">
            <input type="checkbox" id="wifi" formControlName="wifi" class="h-4 w-4 text-blue-600 border-gray-300 rounded">
            <label for="wifi" class="ml-2 text-sm text-gray-900">Disponible</label>
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Lavandería</label>
          <div class="flex items-center mt-2">
            <input type="checkbox" id="lavanderia" formControlName="lavanderia" class="h-4 w-4 text-blue-600 border-gray-300 rounded">
            <label for="lavanderia" class="ml-2 text-sm text-gray-900">Disponible</label>
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded">
          Actualizar Casa
        </button>
      </div>
    </form>
  </div>
</div>
